
.buttonStyle{
    background-color:rgb(174, 33, 226);
    border: none;
    border-radius: 15px;
    padding: 20px 0;
    font-size: 1.2rem;
    font-weight: bold;
    color:rgb(231, 201, 201);
    cursor: pointer;
    transition: all 0.2s;
   
   
 &:hover {
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,0.5);
      }
}
