
.display{

    color:rgb(231, 201, 201);;
    border-radius:15px;
    padding: 20px;
    text-align:right;
    font-size: 2rem;
    box-shadow:20px
}
.previous {
      font-size: 1rem;
     }

    .current {
      font-size: 2rem;
      font-weight: bold;
    }