
.display{
    background-color:orange;
    color:grey;
    border-radius:15px;
    padding: 20px;
    text-align:right;
    font-size: 2rem;
    box-shadow:20px
}
.previous {
      font-size: 1rem;
      color: #232395;
    }

    .current {
      font-size: 2rem;
      font-weight: bold;
    }